<section class="content-wrapper">
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <!-- Step 1: User Autocomplete (optional) -->
    <mat-step [stepControl]="userStepForm">
      <form [formGroup]="userStepForm">
        <div class="step-zone">
          <ng-template matStepLabel>User Identification</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>User ID</mat-label>
            <input
              matInput
              placeholder="e.g user123"
              formControlName="userId"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              @for (user of users(); track user) {
              <mat-option [value]="user">{{ user }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <div class="actions">
            <button matButton="filled" matStepperNext>Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Step 2: Device Selection (mandatory) -->
    <mat-step [stepControl]="deviceStepForm">
      <form [formGroup]="deviceStepForm">
        <div class="step-zone">
          <ng-template matStepLabel>Select Device</ng-template>
          <div class="cycles">
            @for (device of devices(); track device.id) {
            <app-card-device
              [device]="device"
              [selectedInput]="device.id === deviceStepForm.value.selectedDevice?.id"
              (selectedChange)="deviceStepForm.patchValue({ selectedDevice: device })"
            ></app-card-device>
            }
          </div>
          <div class="actions">
            <button matButton="outlined" matStepperPrevious>Back</button>
            <button matButton="filled" matStepperNext [disabled]="!deviceStepForm.valid">
              Next
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Step 3: Confirmation -->
    <mat-step>
      <div class="step-zone">
        <ng-template matStepLabel>Confirm Cycle</ng-template>
        <p>Are you sure you want to create this cycle?</p>
        <div class="actions">
          <button matButton="outlined" matStepperPrevious>Back</button>
          <button
            matButton="filled"
            (click)="submitStepperForm()"
            [disabled]="!deviceStepForm.valid || !userStepForm.valid"
          >
            Create
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</section>
