// Footer component styles using Miele design tokens
@use '../../../assets/styles/_tokens' as *;

:host {
  mat-toolbar {
    min-height: 5rem;
    display: flex;
    padding: 0 var(--m-space-md);
    justify-content: space-between;
    align-items: center;

    [matButton='outlined'] {
      --mat-button-outlined-state-layer-color: var(--m-white);
      --mat-button-outlined-outline-color: var(--m-white);
      --mat-button-outlined-label-text-color: var(--m-white);

      &:hover {
        --mat-button-outlined-outline-color: var(--m-white);
        --mat-button-outlined-outline-color: transparent;
      }
    }
  }
}
