<mat-card class="cycle-card" appearance="outlined">
  <mat-card-header class="cycle-header">
    <div class="header-left">
      <div class="title-wrap">
        <mat-card-title>{{ cycle()?.DeviceName }}</mat-card-title>
        <mat-card-subtitle>{{ cycle()?.DeviceType }}</mat-card-subtitle>
      </div>
      <mat-chip-set>
        <mat-chip [attr.data-status]="cycle()?.status" >{{ cycle()?.status }}</mat-chip>
      </mat-chip-set>
    </div>

    <mat-icon class="machine-icon" aria-hidden="true">{{
      cycle()?.DeviceType === 'washer' ? 'local_laundry_service' : 'dry_cleaning'
    }}</mat-icon>
  </mat-card-header>

  <mat-card-content class="cycle-body">
    <section class="details">
      <dl class="kv">
        <div class="row">
          <dt>Started</dt>
          <dd>{{ cycle()?.startedAt | date : 'dd MMM yyyy, hh:mm a' }}</dd>
        </div>
        <div class="row">
          <dt>Stopped</dt>
          <dd>{{ cycle()?.stoppedAt | date : 'dd MMM yyyy, hh:mm a' }}</dd>
        </div>
        <div class="row">
          <dt>User</dt>
          <dd>{{ cycle()?.userId }}</dd>
        </div>
        <div class="row clamp">
          <dt>User agent</dt>
          <dd [title]="cycle()?.userAgent">
            {{ cycle()?.userAgent }}
          </dd>
        </div>
        <div class="row meta">
          <dt>Device ID</dt>
          <dd>{{ cycle()?.deviceId }}</dd>
        </div>
        <div class="row">
          <dt>Invoice</dt>
          <dd>({{ cycle()?.invoiceLines?.length }} lines)</dd>
        </div>
      </dl>
    </section>

    <aside class="totals">
      <div class="total-label">Total</div>
      <div class="total-value danger">€ {{ cycle()?.price | number : '1.2-2' }}</div>
    </aside>
  </mat-card-content>
</mat-card>
