@use '@angular/material' as mat;

// Global box model reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: #1f1f1f,
      container-text-color: #ffffff,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-color: #f59b00,
      filled-label-text-color: #2b2a28,
      filled-label-text-transform: uppercase,
      filled-label-text-weight: 400,
      filled-label-text-size: 0.875rem,
      filled-horizontal-padding: 1.5rem,
      filled-container-shape: 3px,
      filled-state-layer-color: #333,
      filled-ripple-color: transparent,
      outlined-outline-color: #6c6964,
      outlined-label-text-color: #6c6964,
      outlined-label-text-transform: uppercase,
      outlined-label-text-weight: 400,
      outlined-label-text-size: 0.875rem,
      outlined-horizontal-padding: 1.5rem,
      outlined-container-shape: 3px,
      outlined-state-layer-color: #333,
      outlined-ripple-color: transparent,
    )
  );
}

@include mat.fab-overrides(
  (
    container-shape: 50%,
    container-color: #f59b00,
    foreground-color: #000000,
  )
);

@include mat.card-overrides(
  (
    outlined-container-color: #f8f9fa,
    outlined-outline-color: #dee2e6,
  )
);

@include mat.tabs-overrides(
  (
    active-focus-indicator-color: #f59b00,
    active-focus-label-text-color: #f59b00,
    active-indicator-color: #f59b00,
    active-label-text-color: #f59b00,
    label-text-size: 1rem,
    label-text-weight: 500,
  )
);

@include mat.stepper-overrides(
  (
    header-edit-state-icon-foreground-color: #ffffff,
    header-edit-state-icon-background-color: #f59b00,
    header-icon-background-color: #f59b00,
    header-selected-state-icon-background-color: #f59b00,
    header-selected-state-icon-foreground-color: #ffffff,
    header-icon-foreground-color: #ffffff,
    header-label-text-size: 1rem,
    header-selected-state-label-text-size: 1.2rem,
    header-label-text-weight: 500,
    line-color: #dee2e6,
  )
);

@include mat.radio-overrides(
  (
    selected-icon-color: #f59b00,
    selected-pressed-icon-color: #f59b00,
    selected-focus-icon-color: #f59b00,
    selected-hover-icon-color: #f59b00,
  )
);

@include mat.dialog-overrides(
  (
    container-shape: 0.5rem,
    container-color: #ffffff,
  )
);

.content-wrapper {
  flex: 1;
  margin: 0 auto;
  padding: 16px;
  width: 100%;
  max-width: 100%;

  @media (min-width: 768px) {
    padding: 16px;
    max-width: 720px;
  }

  @media (min-width: 992px) {
    padding: 24px;
    max-width: 960px;
  }

  @media (min-width: 1270px) {
    padding: 24px;
    max-width: 1200px;
  }

  @media (min-width: 1600px) {
    padding: 32px;
    max-width: 1400px;
  }

  @media (min-width: 2000px) {
    padding: 32px;
    max-width: 1800px;
  }

  @media (min-width: 2600px) {
    padding: 40px;
    max-width: 2400px;
  }
}
